body {
    background-image: url('../images/ti-84.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;

  width: 600px;
  height: 800px;
  overflow:hidden;
}
